body{
    background: rgb(236, 226, 226);
    max-width: 900px;
    margin: auto;
}

.imagem_git{
    border-radius: 50px;
}

#titulo, .subtitulo, .titulo_post{
    color: rgb(26, 12, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#titulo{
    font-size: 50px;
}

.subtitulo{
    font-size: 35px;
    text-align: center;
}

.titulo_post{
    font-size: 16px;
    font-style: italic;
}

.conteudo_post{
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-align: justify;
}

#poste{
    border: 2px solid rgb(207, 202, 202);
    border-radius: 15px;
}

.image_post{
    text-align: center;
     width: 100%;
}