.custom{
    background-color: grey;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.menor{
    background-color: blue;
    color: white;
    font-size: 25px;
    font-style: italic;
}

body{
    background-color: rgb(209, 245, 233);
}