<h1 class="text-success text-center">Explorando Diretivas com Angular - Primeiros passos</h1>

<br/>
<h2 class="text-success text-center p-2"> <=========== Diretivas Atributos=========> </h2>

<div class="text-center">
    <h3 >Contador sem diretivas</h3>
    <h2> Contador : {{ count }} </h2>
</div>


<div class="text-center p-5">    
<h3>Contador com diretiva de <b>ngStyle</b> diretivas</h3>
<h2 [ngStyle]="{color: count <= 10 ? 'green' : 'blue' }"> Contador : {{ count }}  </h2>
</div>


<div class="text-center p-2">    
    <h3>Contador com diretiva de <b>ngClass</b> diretivas</h3>
    <h2 [ngClass]="{custom: count > 10}"> Contador : {{ count }}  </h2>
</div>


<h2 class="text-success text-center"> <=========== Diretivas Estruturais =========> </h2>

<div class="text-center m-3 p-1">    
    <h3>Contador com diretiva de <b>ngIf</b> diretivas</h3>
    <h2> Contador : {{ count }}  </h2>
    <h2 *ngIf="count <=10; else maior "class="p-1 menor" >O contador é menor ou igual a 10</h2>
    <ng-template #maior>
        <h2 class="p-1 maior ">O contador é maior que 10</h2>
    </ng-template>
</div>

<div class="text-center m-3">    
    <h3>Contador com diretiva de <b>ngSwitch</b> diretivas</h3>
    <h2>    
        <ul [ngSwitch]="count" class="list-group mx-auto col-6 p-2" >
            <li class="list-group-item" *ngSwitchCase="0"> O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="1" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="2" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="3" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="4" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="5" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="6" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="7" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="8" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="9" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="10" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="11" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="12" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="13" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="14" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="15" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="16" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="17" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchCase="18" > O numero {{ count }} é Par</li>
            <li class="list-group-item" *ngSwitchCase="19" > O numero {{ count }} é Impar</li>
            <li class="list-group-item" *ngSwitchDefault="" > O numero {{ count }} é Par</li>
        </ul>
    </h2>
</div>

<h1 class="text-center"> Resultado igual ao de cima utilizando a diretiva <b>ngIF e else</b></h1>
    <h2 class="text-center p-2" *ngIf="count % 2 === 0; else numImpar" > O número {{count}} é Par </h2>
    <ng-template #numImpar>
        <h2 class="text-center p-2" >O número {{count}} é Impar</h2>
    </ng-template>

<div class="text-center m-3">    
    <h3>Contador com diretiva de <b>ngFor</b> diretivas</h3>
    <h2>
        <ul class="list-group mx-auto ">
            <li class="list-group-item" *ngFor="let pessoa of pessoas">
                <p> O nome da pessoa é {{pessoa.nome}} {{pessoa.sobrenome}}  </p>
            </li>
        </ul>
    </h2>
</div>


<h2 class="text-success text-center"> <=========== data Bind =========> </h2>

<div class="text-center">
    <h1>Binde direcional da logica para o tamplete</h1>
<h2>{{ nome }}</h2> <!-- Quando é propriedade-->

</div>
<div class="text-center">
    <h1> Enviar dados do HTML para a logica</h1>
    <p> Ao clicar os dados são apresentado no consolo log</p>
    <button class="btn btn-success" (click)="Clicou(nome)" >Clique</button>
</div>

<div class="col-4 mx-auto m-5">
    <h1>Two way data binding</h1>
    <p>Para utilizar esssa regra deve ser importado o <b>import FormsModule from '@angular/forms'</b></p>
    <p>E colocar o FormsModule no app.moludes.ts na parte de imports </p>
   
    <input 
    type="text" 
    class="form-control" 
    placeholder="Digite alguma coisa para mostrar abaixo."
    [(ngModel)]="textTowWayDataBind" >
    <h1> Saida: {{ textTowWayDataBind }}</h1>
</div>


<div class="text-center">
    <h1>Aplicando diretivas criadas aos textos abaixo</h1>
    <h2 appMarcaTexto> Pegando os dados padrão da diretiva</h2>
</div>

<div class="text-center">
    <h1>Aplicando diretivas criadas aos textos abaixo</h1>
    <h2 appMarcaTexto corDeFundo= 'blue' corDoTexto="black" >Altradno parâmetros da diretiva</h2>
</div>